<!--<h1>Welcome to the Toys Store</h1>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="btn-group">
    {{html-img src=currentUser.user.imageUrl alt="Avatar" classNames=(array 'avatar' 'dropdown-toggle') style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
    {{#if currentUser.user.admin}}
      <span class="badge badge-danger" style="position: absolute; margin-top: 40px; opacity: 0.7; margin-left: 2px; width: 47px;">Admin</span>
    {{/if}}
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#" onclick={{action "toggleAdmin"}}>{{if currentUser.admin "Switch user" "Switch admin"}}</a>
      <a class="dropdown-item" href="#" onclick={{action "logout"}}>Logout</a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 10px; padding: 10px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#link-to "index" class="nav-link"}}Home <span class="sr-only">(current)</span>{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "videos" class="nav-link" }}Vidoes{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "LeaderboardEntries" class="nav-link" }}Leaderboard{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<!--
API Key: {{config.apiKey}} <br />
Authorization Code: {{session.data.authenticated.authorizationCode}} <br />
currentUser: {{currentUser.user.name}} <br/>
-->

<!-- Header -->
<!-- Template @see: https://www.w3schools.com/w3css/tryw3css_templates_photo.htm
                    https://www.w3schools.com/w3css/w3css_templates.asp 
                    https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_photo&stacked=h -->
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{yield}}