<!--<h1>Welcome to the Toys Store</h1>-->

<nav class="navbar" style="background-color: white;">
  <div class="btn-group">
    <img src="{{currentUser.user.imageUrl}}" alt="Avatar" class="avatar dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#" onclick={{action "logout"}}>Logout</a>
    </div>
  </div>
</nav>

<!--
API Key: {{config.apiKey}} <br />
Authorization Code: {{session.data.authenticated.authorizationCode}} <br />
currentUser: {{currentUser.user.name}} <br/>
-->

<!-- Header -->
<!-- Template @see: https://www.w3schools.com/w3css/tryw3css_templates_photo.htm
                    https://www.w3schools.com/w3css/w3css_templates.asp 
                    https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_photo&stacked=h -->
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{yield}}