<!-- Header -->
{{html-header-title title="User Uploads" subtitle="Manage videos uploaded by users."}}

<div class="container">
  {{#if model.length}}
  <div class="table-responsive" style="width: 98%; margin: 0 auto;">
    <table class="table border">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            User
          </th>
          <th scope="col">
            IGT
          </th>
          <th scope="col">
            YouTube
          </th>
          <th scope="col">
            Title
          </th>
          <th scope="col">
            Genre
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |video index|}}
          <tr>
            <th scope="row">{{add index 1}}</th>
            <td>
              <img src="{{video.user.imageUrl}}" alt="Avatar" class="avatar dropdown-toggle small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </td>
            <td>
              {{#link-to "videos.show" video.id}}
                <img src="https://img.youtube.com/vi/{{video.videoId}}/default.jpg" style="height: 27px;">
              {{/link-to}}
            </td>
            <td>
              <a href="{{video.url}}" target="_blank"><i class="fab fa-youtube fa-2x" style="color: red;"></i></a>
            </td>
            <td>
              {{link-to video.title "videos.show" video.id}}
            </td>
            <td>
              {{video.genre}}
            </td>
            <td>
              {{html-badge-live video=video}}
            </td>
            <td class="text-center">
              <!-- User approval -->
              {{html-badge-toggle-status model=video propertyName="approvedUser" onIconClass="far fa-user" offIconClass="fas fa-user" onText="Approved" onTooltip="User approved" offText="Pending" offTooltip="Pending user approval"}}
            </td>
            <td>
              <!-- Admin approval -->
              {{html-badge-toggle-status model=video propertyName="approvedAdmin" onIconClass="fas fa-lock-open" offIconClass="fas fa-lock" onText="Approved" onTooltip="Admin approved" offText="Pending" offTooltip="Pending admin"}}
            </td>
            <td>
              {{html-dropdown-video-actions video=video toggleApproved="toggleApproved" propertyName="approvedAdmin" edit="edit" remove="remove"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    <p id="blankslate">
      No Videos found
    </p>
  {{/if}}
</div>

{{outlet}}