<p>
  {{link-to "Video list" "videos.index" }}
</p>

<h1>Video show</h1>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Genre:</strong>
  <span>{{model.genre}}</span>
</p>

<p>
  <strong>Url:</strong>
  <span>{{model.url}}</span>
</p>

<!--
<p>
  <strong>User:</strong>
  <span>{{model.userId}}</span>
</p>
-->

