<h1>Welcome to the Toys Store</h1>

API Key: {{config.apiKey}} <br />
Authorization Code: {{session.data.authenticated.authorizationCode}} <br />
currentUser: {{currentUser.user.name}} <br/>

{{#if session.isAuthenticated}}
    <button onclick={{action "logout"}}>Log Out</button>
{{else}}
    Unauthenticated
{{/if}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<hr />

{{outlet}}