<!-- Header -->
{{html-header-title title="I GOT TALENT" subtitle="Share your talent with the globe."}}

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">
<!-- Photo Grid -->
{{#each (range 0 model.currentPage) as |page|}}  
<div class="w3-row" id="myGrid"> <!-- style="margin-bottom:128px" -->
  <div class="w3-third">
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 0) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 0) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 1) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 1) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 2) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 2) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
  </div>

  <div class="w3-third">
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 3) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 3) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 4) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 4) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 5) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 5) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
  </div>

  <div class="w3-third">
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 6) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 6) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 7) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 7) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
    {{#link-to "videos.show" (get (object-at (add (mult page model.perPage) 8) model) "id")}}
      <img src="{{get (object-at (add (mult page model.perPage) 8) model) "youTubeImgMaxRes"}}" style="width:100%">
    {{/link-to}}
  </div>
</div>
{{/each}}

<!-- Infinity loader -->
{{#infinity-loader infinityModel=model infinityLoad=(action "loadMoreVideo" model) infinityLoad="infinityLoad" loadedText="Loaded!"}}
  <div class="text-center mt-2">
    <span class="shimmer" style="font-size: 20px">laoding more videos...</span>
  </div>
{{/infinity-loader}}
  
<!-- End Page Content -->
</div>